USE [master]
GO
/****** Object:  Database [J3.L.P0014]    Script Date: 2/22/2021 9:51:17 AM ******/
CREATE DATABASE [J3.L.P0014]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'J3.L.P0014', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\J3.L.P0014.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'J3.L.P0014_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\J3.L.P0014_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [J3.L.P0014].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [J3.L.P0014]
GO
/****** Object:  Table [dbo].[answer]    Script Date: 2/22/2021 9:51:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[answer](
	[answerID] [int] IDENTITY(1,1) NOT NULL,
	[questionID] [int] NULL,
	[answerContent] [varchar](300) NULL,
	[correct] [bit] NULL,
 CONSTRAINT [PK_answer] PRIMARY KEY CLUSTERED 
(
	[answerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[question]    Script Date: 2/22/2021 9:51:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[question](
	[questionID] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](200) NULL,
	[questionContent] [varchar](300) NULL,
	[createDate] [date] NULL,
	[subjectID] [varchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_question] PRIMARY KEY CLUSTERED 
(
	[questionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[quiz]    Script Date: 2/22/2021 9:51:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[quiz](
	[quizID] [int] IDENTITY(1,1) NOT NULL,
	[subjectID] [varchar](50) NULL,
	[numberQuestion] [int] NULL,
	[timeLimit] [nvarchar](50) NULL,
	[dateTakeQuiz] [date] NULL,
	[timeTakeQuiz] [time](7) NULL,
 CONSTRAINT [PK_quiz] PRIMARY KEY CLUSTERED 
(
	[quizID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[quizDetail]    Script Date: 2/22/2021 9:51:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quizDetail](
	[quizID] [int] NOT NULL,
	[questionID] [int] NOT NULL,
	[answerID] [int] NULL,
 CONSTRAINT [PK_quizDetail] PRIMARY KEY CLUSTERED 
(
	[quizID] ASC,
	[questionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[registration]    Script Date: 2/22/2021 9:51:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[registration](
	[email] [varchar](200) NOT NULL,
	[name] [varchar](250) NULL,
	[password] [varchar](max) NULL,
	[role] [varchar](20) NULL,
	[status] [varchar](20) NULL,
 CONSTRAINT [PK_registration] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[result]    Script Date: 2/22/2021 9:51:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[result](
	[resultID] [int] IDENTITY(1,1) NOT NULL,
	[quizID] [int] NULL,
	[email] [varchar](200) NULL,
	[score] [float] NULL,
	[numberCorrect] [int] NULL,
 CONSTRAINT [PK_result] PRIMARY KEY CLUSTERED 
(
	[resultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[subject]    Script Date: 2/22/2021 9:51:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[subject](
	[subjectID] [varchar](50) NOT NULL,
	[subjectName] [varchar](100) NULL,
 CONSTRAINT [PK_subject] PRIMARY KEY CLUSTERED 
(
	[subjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[answer] ON 

INSERT [dbo].[answer] ([answerID], [questionID], [answerContent], [correct]) VALUES (1, 1, N'Java Servlets are programs that run on a Web or Application server', 0)
INSERT [dbo].[answer] ([answerID], [questionID], [answerContent], [correct]) VALUES (2, 1, N' Java Servlets act as a middle layer between a request coming from a Web browser or other HTTP client and databases or applications on the HTTP server.', 0)
INSERT [dbo].[answer] ([answerID], [questionID], [answerContent], [correct]) VALUES (3, 1, N'Both of the above.', 0)
GO
SET IDENTITY_INSERT [dbo].[answer] OFF
SET IDENTITY_INSERT [dbo].[question] ON 

INSERT [dbo].[question] ([questionID], [email], [questionContent], [createDate], [subjectID], [status]) VALUES (1, N'leminhtai325@gmail.com', N'What are Servlets?', CAST(N'2021-02-16' AS Date), N'PRJ321', 1)
INSERT [dbo].[question] ([questionID], [email], [questionContent], [createDate], [subjectID], [status]) VALUES (2, N'leminhtai325@gmail.com', N'Which of the following is true about servlets?', CAST(N'2021-02-16' AS Date), N'PRJ321', 1)
INSERT [dbo].[question] ([questionID], [email], [questionContent], [createDate], [subjectID], [status]) VALUES (3, N'leminhtai325@gmail.com', N'Which of the following package contains servlet classes?', CAST(N'2021-02-16' AS Date), N'PRJ321', 1)
SET IDENTITY_INSERT [dbo].[question] OFF
SET IDENTITY_INSERT [dbo].[quiz] ON 

INSERT [dbo].[quiz] ([quizID], [subjectID], [numberQuestion], [timeLimit], [dateTakeQuiz], [timeTakeQuiz]) VALUES (1, N'prj321', 10, N'15:0', CAST(N'2021-02-20' AS Date), CAST(N'21:05:28.7700000' AS Time))
INSERT [dbo].[quiz] ([quizID], [subjectID], [numberQuestion], [timeLimit], [dateTakeQuiz], [timeTakeQuiz]) VALUES (2, N'prj311', 10, N'15:0', CAST(N'2021-02-20' AS Date), CAST(N'21:06:19.5770000' AS Time))
INSERT [dbo].[quiz] ([quizID], [subjectID], [numberQuestion], [timeLimit], [dateTakeQuiz], [timeTakeQuiz]) VALUES (3, N'prj321', 10, N'15:0', CAST(N'2021-02-21' AS Date), CAST(N'15:55:51.4700000' AS Time))
SET IDENTITY_INSERT [dbo].[quiz] OFF
INSERT [dbo].[quizDetail] ([quizID], [questionID], [answerID]) VALUES (1, 1, 1)
INSERT [dbo].[quizDetail] ([quizID], [questionID], [answerID]) VALUES (1, 4, 13)
INSERT [dbo].[quizDetail] ([quizID], [questionID], [answerID]) VALUES (1, 7, 27)
INSERT [dbo].[registration] ([email], [name], [password], [role], [status]) VALUES (N'abc@gmail.com', N'Guest', N'b5d4045c3f466fa91fe2cc6abe79232a1a57cdf104f7a26e716e0a1e2789df78', N'student', N'new')
INSERT [dbo].[registration] ([email], [name], [password], [role], [status]) VALUES (N'leminhtai325@gmail.com', N'Lee Min Tai', N'ba7816bf8f01cfea414140de5dae2223b00361a396177a9cb410ff61f20015ad', N'admin', N'new')
INSERT [dbo].[registration] ([email], [name], [password], [role], [status]) VALUES (N'xyz@gmail.com', N'accountGuest2', N'3608bca1e44ea6c4d268eb6db02260269892c0b42b86bbf1e77a6fa16c3c9282', N'student', N'new')
SET IDENTITY_INSERT [dbo].[result] ON 

INSERT [dbo].[result] ([resultID], [quizID], [email], [score], [numberCorrect]) VALUES (1, 1, N'abc@gmail.com', 2, 2)
INSERT [dbo].[result] ([resultID], [quizID], [email], [score], [numberCorrect]) VALUES (2, 2, N'abc@gmail.com', 9, 9)
INSERT [dbo].[result] ([resultID], [quizID], [email], [score], [numberCorrect]) VALUES (3, 3, N'xyz@gmail.com', 3, 3)
SET IDENTITY_INSERT [dbo].[result] OFF
INSERT [dbo].[subject] ([subjectID], [subjectName]) VALUES (N'prj311', N'Java Desk')
INSERT [dbo].[subject] ([subjectID], [subjectName]) VALUES (N'prj321', N'Java Web')
ALTER TABLE [dbo].[answer]  WITH CHECK ADD  CONSTRAINT [FK_answer_question] FOREIGN KEY([questionID])
REFERENCES [dbo].[question] ([questionID])
GO
ALTER TABLE [dbo].[answer] CHECK CONSTRAINT [FK_answer_question]
GO
ALTER TABLE [dbo].[question]  WITH CHECK ADD  CONSTRAINT [FK_question_registration] FOREIGN KEY([email])
REFERENCES [dbo].[registration] ([email])
GO
ALTER TABLE [dbo].[question] CHECK CONSTRAINT [FK_question_registration]
GO
ALTER TABLE [dbo].[question]  WITH CHECK ADD  CONSTRAINT [FK_question_subject] FOREIGN KEY([subjectID])
REFERENCES [dbo].[subject] ([subjectID])
GO
ALTER TABLE [dbo].[question] CHECK CONSTRAINT [FK_question_subject]
GO
ALTER TABLE [dbo].[quiz]  WITH CHECK ADD  CONSTRAINT [FK_quiz_subject] FOREIGN KEY([subjectID])
REFERENCES [dbo].[subject] ([subjectID])
GO
ALTER TABLE [dbo].[quiz] CHECK CONSTRAINT [FK_quiz_subject]
GO
ALTER TABLE [dbo].[quizDetail]  WITH CHECK ADD  CONSTRAINT [FK_quizDetail_quiz] FOREIGN KEY([quizID])
REFERENCES [dbo].[quiz] ([quizID])
GO
ALTER TABLE [dbo].[quizDetail] CHECK CONSTRAINT [FK_quizDetail_quiz]
GO
ALTER TABLE [dbo].[result]  WITH CHECK ADD  CONSTRAINT [FK_result_quiz] FOREIGN KEY([quizID])
REFERENCES [dbo].[quiz] ([quizID])
GO
ALTER TABLE [dbo].[result] CHECK CONSTRAINT [FK_result_quiz]
GO
ALTER TABLE [dbo].[result]  WITH CHECK ADD  CONSTRAINT [FK_result_registration] FOREIGN KEY([email])
REFERENCES [dbo].[registration] ([email])
GO
ALTER TABLE [dbo].[result] CHECK CONSTRAINT [FK_result_registration]
GO
USE [master]
GO
